@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
a,
button,
form,
input {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  min-width: 280px;
  margin: 50px auto;
  padding: 0 10px;
}

.header__logo {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.header__logo--button {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  text-align: right;
}

.header__logo--btn {
  width: 140px;
  height: 40px;
  border: 1px solid #ff52bf;
  background-color: transparent;
  border-radius: 24px;
  color: #ff52bf;
}

.header__logo--img {
  width: 100%;
}

.main__banner {
  max-width: 1200px;
  min-width: 280px;
  margin: 100px auto;
  padding: 0 10px;
  text-align: center;
}

.main__banner .banner__heading {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
}

.main__banner .banner__paragraph {
  font-size: 20px;
  max-width: 600px;
  margin: 30px auto;
}

.main__banner .banner__btn {
  background-color: #ff52bf;
  color: #fff;
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 24px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.308);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.308);
}

.banner__picture .banner__img {
  width: 80%;
}

.banner__data {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.banner__data .banner__data--heading {
  font-size: 62px;
}

.banner__data .banner__data--paragraph {
  color: #989ba2;
}

.banner__data--img {
  display: block;
  margin: 0 auto 0 0;
  width: 20%;
}

.first__curve {
  background-color: #f5faff;
  position: relative;
  width: 100%;
  padding: 0.1px;
  margin: 160px auto;
}

.first__curve .first__curve--bgitop {
  position: absolute;
  top: -130px;
  left: 0;
  right: 0;
  background-image: url(../img/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 200px;
}

.first__curve .first__curve--bgibottom {
  position: absolute;
  bottom: -140px;
  left: 0;
  right: 0;
  background-image: url(../img/bg-section-bottom-desktop-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 160px;
}

.first__curve .subfirst__curve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px auto;
  padding: 50px 20px;
  max-width: 1100px;
}

.first__curve--article {
  -ms-flex-preferred-size: 520px;
      flex-basis: 520px;
}

.first__curve--picture {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.first__curve--picture .first__curve--img {
  width: 100%;
}

.first-curve--heading {
  font-size: 32px;
  margin-bottom: 20px;
}

.first__curve--paragraph {
  font-size: 16px;
}

.second__curve {
  position: relative;
  width: 100%;
  padding: 0.1px;
  margin: 160px auto;
}

.second__curve .subsecond__curve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px auto;
  padding: 50px 20px;
  max-width: 1100px;
}

.second__curve--article {
  -ms-flex-preferred-size: 520px;
      flex-basis: 520px;
}

.second__curve--picture {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.second__curve--picture .second__curve--img {
  width: 100%;
}

.second-curve--heading {
  font-size: 32px;
  margin-bottom: 20px;
}

.second__curve--paragraph {
  font-size: 16px;
}

.third__curve {
  background-color: #f5faff;
  position: relative;
  width: 100%;
  padding: 0.1px;
  margin: 160px auto;
}

.third__curve .third__curve--bgitop {
  position: absolute;
  top: -130px;
  left: 0;
  right: 0;
  background-image: url(../img/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 200px;
}

.third__curve .third__curve--bgibottom {
  position: absolute;
  bottom: -140px;
  left: 0;
  right: 0;
  background-image: url(../img/bg-section-bottom-desktop-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 160px;
}

.third__curve .subthird__curve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px auto;
  padding: 50px 20px;
  max-width: 1100px;
}

.third__curve--article {
  -ms-flex-preferred-size: 520px;
      flex-basis: 520px;
}

.third__curve--picture {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.third__curve--picture .third__curve--img {
  width: 100%;
}

.third-curve--heading {
  font-size: 32px;
  margin-bottom: 20px;
}

.third__curve--paragraph {
  font-size: 16px;
}

.fourth__curve {
  position: relative;
  width: 100%;
  padding: 0.1px;
  margin: 160px auto;
}

.fourth__curve .subfourth__curve {
  margin: 60px auto;
  padding: 50px 20px;
  max-width: 1100px;
}

.fourth__curve--article {
  text-align: center;
}

.fourth-curve--heading {
  font-size: 32px;
  margin-bottom: 20px;
}

.fourth__curve--btn {
  background-color: #ff52bf;
  color: #fff;
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 24px;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.308);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.308);
}

.main__footer {
  background-color: #00252e;
  position: relative;
  width: 100%;
  padding: 0.1px;
  margin: 160px auto 0;
}

.main__footer .main__footer--bgitop {
  position: absolute;
  top: -130px;
  left: 0;
  right: 0;
  background-image: url(../img/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 200px;
}

.submain__footer {
  margin: 160px auto;
  max-width: 1100px;
}

.submain__footer .footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submain__footer .footer__header--box {
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
}
/*# sourceMappingURL=estilos.css.map */