@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
$body: 'Open Sans', sans-serif;
$heading: 'Poppins', sans-serif;
// Colors

//Primary

$Pink: hsl(322, 100%, 66%);
$Light-Pink: hsla(321, 100%, 78%, 0.459);
$Light-Pink1:rgb(250, 98, 197);
$Light-Red: hsl(0, 100%, 63%);

// Neutral

$Very-Dark-Cyan: #00252e;
$Very-Pale-Blue: hsl(207, 100%, 98%);